.header {
    background-color: black;
    // margin: auto;
    height: 90px;

    &__icon {
        background: wheat;
        width: calc(100% / 9);
        padding: 0;
        margin: 0;
        overflow: hidden;
        cursor: pointer;

        &__img {
            width: 100%;
            height: 100%;
        }
    }

}